<nav class="flex justify-between items-center p-8">
  <a href="/">
    <h1>Uploadify</h1>
  </a>
  <% if(index) { %>
    <div class="flex gap-8 items-center">
      <a href="/users/login" class="btn btn-primary">Login</a>
      <a href="/users/signup" class="btn btn-primary">Signup</a>
    </div>
  <% } %>
</nav>
