<script src="/js/script.js" defer></script>
<nav class="flex relative justify-between items-center p-8">
  <a href="/">
    <h1>Uploadify</h1>
  </a>
  <% if(index) { %>
    <div class="flex gap-8 items-center">
      <a href="/users/login" class="btn btn-primary">Login</a>
      <a href="/users/signup" class="btn btn-primary">Signup</a>
    </div>
  <% } %>
  <% if(isAuthenticated) { %>
    <div class="flex gap-8 items-center">
      <button id="avatar-btn" class="avatar-btn"><%= user.firstName[0] %><%= user.lastName[0] %></button>
    </div>
    <div id="avatar-menu" class="hidden avatar-menu">
      <ul class="flex flex-col p-2">
        <li><%= user.email %></li>
        <a href="/users/logout" class="logout">Logout</a>
      </ul>
    </div>
  <% } %>
</nav>
