<nav class="flex justify-between items-center p-8">
  <h1>Uploadify</h1>
  <div class="flex gap-8 items-center">
    <a href="/users/login" class="btn btn-primary">Login</a>
    <a href="/users/signup" class="btn btn-primary">Signup</a>
  </div>
</nav>
