<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar", { index: false, isAuthenticated: isAuthenticated }) %>
    <main class="flex justify-center items-center">
      <form action="" method="post" class="flex flex-col gap-4">
        <% if(message.length > 0) { %>
          <span class="error"><%= message %></span>
        <% } %>
        <label for="email">
          <span>Email </span>
          <input type="email" name="username" id="email" placeholder="Enter email address" >
        </label>
        <label for="password">
          <span>Password </span>
          <input type="password" name="password" id="password" placeholder="Enter password" >
        </label>
        <button class="btn btn-primary">Submit</button>
        <div class="flex justify-between items-center">
          <p>Don't have an account?</p>
          <a href="/users/signup">Signup</a>
        </div>
      </form> 
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
