<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My drive</title>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <%- include("partials/navbar", { index: false }) %>
    <main class="p-8">
      <h1>Bilel Hamitouche's Drive</h1> 
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
