@import "./utils.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100svh;
}

nav {
  box-shadow: 2px 2px 2px #ccc;
}

img {
  object-fit: contain;
  width: 100%;
}

p {
  line-height: 1.5;
  font-weight: 500;
}

a {
  text-decoration: none;
}

a > h1 {
  color: black;
}

main {
  height: 100%;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

label > span {
  font-weight: 500;
}

form {
  width: 300px;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #bbb;
  outline: none;
  width: 100%;
}

input:focus {
  border-color: blueviolet;
}

ul {
  list-style: none;
}

th {
  padding: 0.8rem 1rem;
  background-color: #0a0a0a;
  color: white;
}

tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

td {
  padding: 0.8rem 1rem;
  padding-left: 1rem;
  text-align: left;
}

td > a {
  color: black;
}

td > a:hover {
  text-decoration: underline;
}
