.text-lg {
  font-size: 1rem;
}

.text-xl {
  font-size: 1.2rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.p-16 {
  padding: 4rem;
}

.p-32 {
  padding: 8rem;
}

.btn {
  padding: 0.5rem 2rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #0a0a0a;
}

.btn-primary:hover {
  background-color: #222222;
}

.btn-urgent {
  background-color: #ef4444;
}

.btn-urgent:hover {
  background-color: #dc2626;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-32 {
  gap: 8rem;
}

.max-w-1\/2 {
  max-width: 50%;
}

.error {
  color: #dc2626;
}

.avatar-btn {
  border-radius: 50%;
  padding: 0.5rem;
  aspect-ratio: 1;
  background-color: #052e16;
  color: white;
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

.avatar-menu {
  position: absolute;
  top: 4.5rem;
  right: 2rem;
  z-index: 10;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.avatar-menu ul * {
  padding: 1rem;
}

.avatar-menu ul *:hover {
  background-color: #dddddd;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.logout {
  color: red;
}

.files {
  border-collapse: collapse;
  min-width: 400px;
  text-align: left;
}

th {
  padding: 0.8rem 1rem;
  background-color: #0a0a0a;
  color: white;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-inline: auto;
}

.max-w-content {
  max-width: fit-content;
}

.modal {
  border: none;
  border-radius: 5px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 0.5s slideIn;
}

.modal.closing {
  animation: slideOut 0.5s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
